.rating {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: black;
    overflow: hidden;
}
.rating .full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffcb2b;
}

.rating .empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 20px;
    font-weight: 900;
}